body {
    margin: 0;
}

#hero {
    background-image: linear-gradient(to bottom, rgba(88, 88, 88, 0.658) 25%,
            rgba(0, 0, 0, 0.85) 80%), url(images/bannerFlood.png);
    background-repeat: no-repeat;
    width: 1200;
    height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* background-size: cover; */
}


#hero h1 {
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 62px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;

}

#hero p {
    color: #FFFFFF;
    width: 45%;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 100;
    text-align: center;
}

.red-button {
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    background-image: linear-gradient(to bottom, #FF5959, #ff4e37);
    /* width: 100px;
    height: 25px; */
    padding: 15px 25px;
    margin: 0;
    border-radius: 4px;
}


.donate-amount-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 80px;
}

.donate-amount-selection h2 {
    font-family: 'Inter', sans-serif;
    font-size: 45;
    font-weight: 600;
    margin-bottom: 10px;
}

.donate-amount-selection p {
    width: 45%;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    color: #707070;
    margin-top: 10px;
    margin-bottom: 50px;
}


.donate-amount-selection-btn a {
    background-color: #FAFAFA;
    border-radius: 3px;
    text-decoration: none;
    color: #707070;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    padding: 20px 10px;
    margin-top: 10px;
}

.donate-amount-selection-btn a.active {
    background-color: #FFEEEE;
    border: 1px solid #FF5959;
    border-radius: 3px;
    color: #FF5959;
}

#other-amount {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#others-amount-input {
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid #DADADA;
    padding: 5px;
    margin-bottom: 25px;
    text-align: center;

}

::placeholder {
    color: #B3B3B3;
    font-size: 15px;
    opacity: 1;
}

/* Donate Plan top part*/

#donate-plan-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}


#donate-plan-top h2 {
    font-family: 'Inter', sans-serif;
}

#donate-plan-top p {
    font-family: 'Poppins', sans-serif;
    color: #707070;
    text-align: center;
    width: 45%;
    margin-top: 0;
}


/* Donate Plan Cards Part  */

.donate-plan-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.donate-plan-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 35px;
}

.donate-plan-para {
    text-align: left;
    color: #707070;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-top: 0;

}

#card-food {
    background-color: #4f9da62e;
    width: 360px;
    height: 300px;
    padding: 60px 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#card-shelter {
    background-color: #FF59592e;
    width: 360px;
    height: 300px;
    padding: 60px 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#card-education {
    background-color: #FFF4D6;
    width: 360px;
    height: 300px;
    padding: 60px 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* font-family: 'Inter', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */